<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
  </head>
  <body>
    <h1>Cart ID: {{cartId}}</h1>

    <h2>Products in the Cart</h2>

    {{#each products}}
      <div>
        <p>Title: {{this.title}}</p>
        <p>Quantity: {{quantity}}</p>
        <p>ID: {{this._id}}</p>
        <p>Price: {{price}}</p>
          <button class="remove-button" data-cart-id="{{../cartId}}" data-product-id="{{product._id}}">Remove</button>
      </div>
    {{/each}}

    <button onclick="clearCart('{{cartId}}')">Clear Cart</button>
    <form method="post" action="/api/carts/{{cartId}}/purchase">
        <button class="remove-button" data-cart-id="{{../cartId}}" data-product-id="{{product._id}}">Remove</button>
    </form>

    <script src="/js/cart.js"></script>
    
    
  </body>
</html>